{
    "Digitizer1":"PXI1Slot3",
    "Digitizer2":"PXI1Slot4",
    "Channel":2,
    "trigger source":"VAL_EXTERNAL",
    "trigger level":2.300000000000000,
    "trigger delay":50.00000000000000E-9,
    "min sample rate":2.50000000000000E+9,
    "min record length":600,
    "vertical range":2.00000000000000,
    "vertical offset":0.800000000000000,
    "Waveform to Avg":4
}
