{
    "Digitizer1":"PXI1Slot3",
    "Digitizer2":"PXI1Slot4",
    "Channel":0,
    "trigger source":"VAL_EXTERNAL",
    "trigger level":1.500000000000000,
    "trigger delay":70E-9,
    "min sample rate":5.00000000000000E+9,
    "min record length":1200,
    "vertical range":2.0000000000000,
    "vertical offset":0.600000000000000,
    "Waveform to Avg":4
}
