# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Data files
*.tdms
*.tdms_index

# data folder
V6 APD LV/Data/

# system log folder
V6 APD LV/System Log/