# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# data folder
V6 APD LV/Data/

# system log folder
V6 APD LV/System Log/

# APD data file
V6 APD LV/ConfigFiles/*.tdms
V6 APD LV/ConfigFiles/*.tdms_index
V6 APD LV/ConfigFiles/Backup/
/V6 APD LV/SystemTemp
/V6 APD LV/Kinesis
/V6 APD LV/SubVI/LabVIEW_LJM
/Data
