{
    "Ch1 Bias":"TDAC8",
    "Ch2 Bias":"TDAC9",
    "Ch3 Bias":"DAC0",
    "Ch4 Bias":"DAC1",
    "355 PWM":"DIO2",
    "AimingBeam PWM":"DIO3",
    "Laser Ready":"AIN0",
    "Interlock":"NOT USED",
    "Laser Start/Stop":"DIO15",
    "Red LED":"TDAC12",
    "Green LED":"TDAC13",
    "Foot Pedal":"DIO16"
}